In [28]:
import pandas as pd
df = pd.read_csv("data.csv")
df1 = pd.read_csv("job_title_des.csv")

In [2]:
df["cv"][0]

'- : as a recent graduate in computer science with 6-months of experience in flutter, i am excited to apply for the position of flutter developer at your company. though i have not worked with android studio, i am willing to learn and adapt as per the requirement. i have experience in handling user-friendly ui based on requirements in a flutter and knowledge of firebase. i am comfortable working with cross-platform frameworks. while i have not worked with location services and video recording, i am eager to learn and implement them. i am a strong team player with a commitment to perfection and am ready to face new challenges.'

In [3]:
df1["pjdesc"][0]

'we are looking for hire experts flutter developer. so you are eligible this post then apply your resume. job types: full-time, part-time salary: 20,000.00 - 40,000.00 per month benefits: flexible schedule food allowance schedule: day shift supplemental pay: joining bonus overtime pay experience: total work: 1 year (preferred) housing rent subsidy: yes industry: software development work remotely: temporarily due to covid-19'

In [7]:
df1.head()

,Unnamed: 0,Job Title,Job Description
0,0,Flutter Developer,We are looking for hire experts flutter develo...
1,1,Django Developer,PYTHON/DJANGO (Developer/Lead) - Job Code(PDJ ...
2,2,Machine Learning,"Data Scientist (Contractor)\n\nBangalore, IN\n..."
3,3,iOS Developer,JOB DESCRIPTION:\n\nStrong framework outside o...
4,4,Full Stack Developer,job responsibility full stack engineer – react...

In [11]:
df1["Job Title"].unique()

array(['Flutter Developer', 'Django Developer', 'Machine Learning',
       'iOS Developer', 'Full Stack Developer', 'Java Developer',
       'JavaScript Developer', 'DevOps Engineer', 'Software Engineer',
       'Database Administrator', 'Wordpress Developer', 'PHP Developer',
       'Backend Developer', 'Network Administrator', 'Node js developer'],
      dtype=object)

In [23]:
df1.loc[df1["Job Title"]=="Machine Learning"]

,Unnamed: 0,Job Title,Job Description
2,2,Machine Learning,"Data Scientist (Contractor)\n\nBangalore, IN\n..."
11,11,Machine Learning,"Remote, Any where\n2 - 4 years\n₹8L - ₹12L / y..."
12,12,Machine Learning,"Excited by Big Data, Machine Learning and Pred..."
30,31,Machine Learning,Vista Equity Partners is the world's leading p...
33,34,Machine Learning,Staff Machine Learning Scientist\n\nHyderabad/...
...,...,...,...
2242,2367,Machine Learning,Your Profile:\nWill demonstrate cross function...
2259,2385,Machine Learning,Responsibilities\nStudy and transform data sci...
2261,2388,Machine Learning,Job Description\nAbout our client:\nOur Client...
2266,2393,Machine Learning,"PipeCandy is a 'one of its kind', 'data scienc..."
2275,2402,Machine Learning,Key Responsibilities: Team leads for small or ...

In [29]:
df.head()

              Job Title                                             pjdesc
0     Flutter Developer  we are looking for hire experts flutter develo...
1      Django Developer  python/django (developer/lead) - job code(pdj ...
2      Machine Learning  data scientist (contractor) bangalore, in resp...
3         iOS Developer  job description: strong framework outside of i...
4  Full Stack Developer  job responsibility full stack engineer react r...

In [31]:
df.iloc[2,1]

'data scientist (contractor) bangalore, in responsibilities we are looking for a capable data scientist to join the analytics team, reporting locally in india bangalore. this persons responsibilities include research, design and development of machine learning and deep learning algorithms to tackle a variety of fraud oriented challenges. the data scientist will work closely with software engineers and program managers to deliver end-to-end products, including: data collection in big scale and analysis, exploring different algorithmic approaches, model development, assessment and validation all the way through production. qualifications at least 3 years of hands-on development of complex machine learning models using modern frameworks and tools, ideally python based. solid understanding of statistics and applied mathematics creative thinker with a proven ability to tackle open problems and apply non-trivial solutions. experience in software development using python, java or a similar language. any graduate or m.sc. in computer science, mathematics or equivalent, preferably in machine learning ability to write clean and concise code quick learner, independent, methodical, and detail oriented. team player, positive attitude, collaborative, good communication skills. dedicated, makes things happen. flexible, capable of making decisions in an ambiguous and changing environment. advantages: prior experience as a software developer or data engineer advantage experience with big data advantage experience with spark big advantage experience with deep learning frameworks (pytorch, tensorflow, keras) advantage. experience in the telecommunication domain and/or fraud prevention - advantage'